{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ legend.title }}</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1>{{ legend.title }}</h1>
    <img src="{{ legend.image.url }}" alt="Legend Image">
    <p><strong>Location:</strong> {{ legend.location }}</p>
    <p><strong>Description:</strong> {{ legend.description }}</p>
    <p><strong>Author:</strong> {{ legend.author }}</p>
    <p><strong>Date Created:</strong> {{ legend.date_created }}</p>
</body>
</html>
